<div class="page-sidebar pagescroll">
    <!-- MAIN MENU - START -->
    <div class="page-sidebar-wrapper" id="main-menu-wrapper">
        <ul class='wraplist' style="margin-top: 0px;">
            <!-- <li class="open">
                <a href="/admin">
                    <i class="fa fa-dashboard"></i>
                    <span class="title">Trang chủ Quản lý</span>
                </a>
            </li> -->
            <li class="">
                <a href="javascript:;">
                    <i class="fa fa-book"></i>
                    <span class="title">Danh Mục Sản Phẩm</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">

                    <li>
                        <a class="" href="admin/category/them.html">Thêm Danh Mục Sản Phẩm</a>
                    </li>
                    <li>
                        <a class="" href="admin/category/danh-sach.html">Danh Sách DM Sản Phẩm </a>
                    </li>
                </ul>
            </li>
            <li class="">
                <a href="javascript:;">
                    <i class="fa fa-suitcase"></i>
                    <span class="title">Quản Lý Sản Phẩm</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a class="" href="admin/product/them.html">Thêm Sản Phẩm</a>
                    </li>
                    <li>
                        <a class="" href="admin/product/danh-sach.html">Danh Sách Sản Phẩm</a>
                    </li>
                </ul>
            </li>
            <li class="">
                <a href="javascript:;">
                    <i class="fa fa-user"></i>
                    <span class="title">Quản Lý Nhân Viên</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a class="" href="admin/user/danh-sach.html">Danh Sách Nhân Viên</a>
                    </li>
                </ul>
            </li>
            <li class="">
                <a href="javascript:;">
                    <i class="fa fa-glass"></i>
                    <span class="title">Quản Lý Đơn Hàng</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a class="" href="admin/order/danh-sach.html">Danh Sách Đặt Hàng</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- MAIN MENU - END -->
</div>